<!DOCTYPE html>
<html>
<head>
<title>PDF Rank Matcher</title>
</head>

<body>

<h2>Upload PDFs</h2>

<form action="/generate" method="post" enctype="multipart/form-data">

Final List:
<input type="file" name="final" required><br><br>

Selected List:
<input type="file" name="selected" required><br><br>

Waiting List:
<input type="file" name="waiting" required><br><br>

Special Category:
<input type="file" name="special" required><br><br>

<h3>Filters</h3>

Branch:
<select name="branch">
<option value="ALL">All</option>
<option value="GLBSA">GLBSA</option>
<option value="CHBSA">CHBSA</option>
<option value="MMBSA">MMBSA</option>
<option value="PHBSA">PHBSA</option>
<option value="CABSA">CABSA</option>
</select>

<br><br>

Status:
<select name="status">
<option value="ALL">All</option>
<option value="Selected">Selected</option>
<option value="Waiting">Waiting</option>
<option value="Special">Special</option>
<option value="Selected, Special">Selected, Special</option>
<option value="Selected, Waiting">Selected, Waiting</option>
<option value="Selected, Waiting, Special">Selected, Waiting, Special</option>
</select>

<br><br>

<button type="submit">Generate Filtered Result</button>

</form>

</body>
</html>
